  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Приложение Курсов</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Main PAGE</a></li>
        <li><a href="/about">About Page</a></li>
        <li><a href="/add">Add Courses</a></li>
      </ul>
    </div>
  </nav>
        